
<div class="onePostItContainer">
	<div class="row topContainer">
		<div class="col-xs-6 text-left">
			<%= priority %>
		</div>
		<div class="col-xs-6 text-right">
			<%= id %>
		</div>
	</div>
	<div class="row projectContainer">
		<div class="col-xs-12 text-center">
			<%= project_name %>
		</div>
	</div>
	<div class="row StoryTitleContainer">
		<div class="col-xs-12 text-center">
			<%= name %>
		</div>
	</div>
	<div class="row MembershipContainer">
		<div class="col-xs-12 text-right">
			<%= owner_initials %>
		</div>
	</div>
</div>